* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  color: #333333;
  height: 100vh;
  overflow-x: hidden;
}
.container {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}
.header {
  color: #ffffff;
  padding: 10px 40px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.logo {
  background-image: url("../images/logo.jpg");
  width: 300px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.search-bar {
  flex-grow: 1; 
  display: flex;
  max-width: 500px;
  min-width: 300px;
  margin-left: 20px;
}
input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #ccc;
}
button[type="submit"] {
  width: 160px;
  padding: 5px;
 font-size: 18px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  color: #000;
  justify-content: center;
  align-items: center;
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}
button[type="submit"] a {
  text-decoration: none;
  color: #000;
  padding: 20px;
  font-size: 24px;
}
button[type="submit"]:hover {
  background-color: #0069d9;
  color: white;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}
.user p {
  font-size: 24px;
  color: #333;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user i,
.cart i {
   font-size: 36px;
  color: #333;
}
.user,
.cart {
  margin-left: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}
.user img,
.cart img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.menu-list {
  overflow: hidden;
  background-color: #333;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  list-style: none;
}
.menu-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.menu-list li {
  padding: 14px 20px;
  text-align: center;
  color: white;
  font-size: 24px;
}
.menu-list li a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 14px 16px;
}
.menu-list li a:hover {
  background-color: #111;
  color: white;
}
.owl-carousel .item img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.new-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
